* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  position: fixed;
  background-color: #fff;
  top: 0px;
  width: 100%
  z-index: 2;
}

.bar {
  width: 1200px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.search{
  display: inline-block;
  position: relative;
  left:20px;
  width: 940px;
  background:#efefef;
  border-radius: 10px;
  height: 45px;
}

p{
  display: inline-block;
  position: relative;
  left: 55px;
}


.icon-pinterest {
    font-size: 40px;
    position: relative;
    top: 10px;
    color: rgb(172, 27, 27);
    text-decoration: none;
}
